
@(books: List[Book])

@main("Welcome to Play") {
    <div class="container w-50 m-auto mt-5">
        <a class="btn btn-primary" href="/books/new">Add new book</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(book <- books) {
                    <tr>
                        <td>@book.getTitle()</td>
                        <td>@book.getPrice()</td>
                        <td>
                            <a class="btn btn-primary" href="/books/@book.getId()">Show</a>
                            <a class="btn btn-danger" href="/books/delete/@book.getId()">Detele</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
