@(books: List[Book])

@home("Welcome to Play") {


    <div class="container w-50 m-auto mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
            @for(book <- books) {
                <tr>
                    <td>@book.getTitle()</td>
                    <td>@book.getPrice()</td>
                    <td>@book.getAuthor().getEmail()</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
